{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {# Load the tag library #}
    {% load bootstrap4 %}


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.x-git.min.js"></script>
</head>
<body>
<div class="container-fluid">
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    <div class="col-sm"></div>
    <div class="col-sm">

        <h1><a href="/">Home</a><br></h1>

        {% block body %}
        {% endblock %}
    </div>
    <div class="col-sm"></div>
</div>

</body>
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}
</html>
