{% extends 'newcoop_app/base.html' %}

{% block title %}
    Index page
{% endblock %}

{% block body %}
    {#    SEARCH form #}
    {% load bootstrap4 %}
    <form action="{% url 'haystack_search' %}" method="get">
        {% csrf_token %}
        {% bootstrap_form search_form %}
        {% buttons %}
            <input type="submit" class="btn btn-primary" name="action" value="Search"/>
        {% endbuttons %}
    </form>


    {#    REQUEST POST form #}
    {% if user.is_authenticated and post_form %}
        <form action="{% url 'newcoop_app:request_post_name' %}" method="post">
            {% csrf_token %}
            {% csrf_token %}
            {% bootstrap_form post_form %}
            {% buttons %}
                <input type="submit" class="btn btn-primary" name="action" value="Post request"/>
            {% endbuttons %}
        </form>
    {% endif %}

{% endblock %}
