{% extends 'newcoop_app/base.html' %}

{% block title %}
    {{ gamerequest }}
{% endblock %}

{% block content %}

    <div class="card">
        <div class="card-header d-flex">
            <div class="mr-auto p-2">
                {{ gamerequest.game }} — {{ gamerequest.platform }}
            </div>
            <div class="p-2">
                <span class="badge badge-primary ">
                    {{ likes }} likes
                </span>
            </div>
            <div class="p-2">
                {% if user.is_authenticated %}
                    <form action="{% url 'newcoop_app:like_post' gamerequest.id %}" method="post">
                        {% csrf_token %}

                        <button class="btn" type="submit" name="action" value="
                            {% if voted %}
                                Unlike">
                            <i class="fas fa-thumbs-up" style="color:dodgerblue"></i>
                        {% else %}
                            Like">
                            <i class="far fa-thumbs-up"></i>
                        {% endif %}
                        </button>
                    </form>
                {% endif %}
            </div>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">
                    Language
                </dt>
                <dd class="col-sm-9">
                    {{ gamerequest.language }}
                </dd>
                <dt class="col-sm-3">
                    Have a microphone
                </dt>
                <dd class="col-sm-9">
                    {% if gamerequest.mic_present %}
                        Yes
                    {% else %}
                        No
                    {% endif %}
                </dd>
                <dt class="col-sm-3">
                    Author
                </dt>
                <dd class="col-sm-9">
                    {{ gamerequest.user }}
                </dd>
                <dt class="col-sm-3">
                    Last updated
                </dt>
                <dd class="col-sm-9">
                    {{ gamerequest.pub_date|date:"H:i, d M y" }}
                </dd>

            </dl>
            <hr>
            {% if gamerequest.comment|length > 0 %}
                {{ gamerequest.comment|linebreaks }}
            {% endif %}
        </div>
    </div>
    <p></p>

    {% if comments|length > 0 %}
        <a id="comments"></a>
        {% for comment in comments %}
            <div class="card w-75
            {% if forloop.counter0|divisibleby:2 %}
                mr-auto
            {% else %}
                ml-auto
            {% endif %}">
                <div class="card-header">
                    <b>{{ comment.user }}</b> at {{ comment.pub_date|date:"H:i, d M y" }}
                </div>
                <div class="card-body">
                    {{ comment.comment }}
                </div>
            </div>
            <br>
        {% endfor %}
    {% endif %}

    {% if user.is_authenticated and form %}
        {% load bootstrap4 %}
        <form action="{% url 'newcoop_app:comment_post' gamerequest.id %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <input type="submit" class="btn btn-primary" name="action" value="Post comment"/>
            {% endbuttons %}
        </form>
    {% endif %}





{% endblock %}
