{% extends 'newcoop_app/base.html' %}

{% block title %}
    Request search
{% endblock %}

{% block content %}


    <h2>Search</h2>

    <form method="get" action="{% url 'haystack_search' %}">
        <label>
            <input type="text" name="q">
        </label>

        <input type="submit" value="Search">

        {% if query %}
            {#            <h3>Results</h3>#}

            {% for result in page.object_list %}
                <p>
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>
                </p>
            {% empty %}
                <p>No results found.</p>
            {% endfor %}

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}
                        <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous
                    {% if page.has_previous %}</a>{% endif %}
                    |
                    {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next
                    &raquo;{% if page.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>

    {% load bootstrap4 %}
    <ul class="list-group">
        {% for result in page.object_list %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'newcoop_app:request_detail' result.object.id %}">{{ result.object }}</a>
                <a href="{% url 'newcoop_app:request_detail' result.object.id %}#comments">
                    <span class="badge badge-primary badge">
                        {{ result.object.comments_count }} comments
                    </span>
                </a>
            </li>
        {% empty %}
            <li class="list-group-item d-flex justify-content-between align-items-center">No results found</li>
        {% endfor %}
    </ul>


{% endblock %}
