{% extends 'nca/base.html' %}

{% block title %}
    {{ gamerequest }}
{% endblock %}

{% block body %}
    Game: {{ gamerequest.game }} ({{ gamerequest.platform }})<br>
    Language: {{ gamerequest.language }}<br>
    {% if gamerequest.mic_present %}
        Player have a microphone<br>
    {% endif %}
    Published at {{ gamerequest.pub_date|date:"H:i, d.m.y" }} by {{ gamerequest.user }}<br>
    {% if likes > 0 %}
        Likes: {{ likes }}<br>
    {% endif %}
    {% if gamerequest.comment|length > 0 %}
        {{ gamerequest.comment|linebreaks }}
    {% endif %}

{% endblock %}
