{% extends 'nca/base.html' %}

{% block title %}
    {{ gamerequest }}
{% endblock %}

{% block body %}
    Game: {{ gamerequest.game }} ({{ gamerequest.platform }})<br>
    Language: {{ gamerequest.language }}<br>
    {% if gamerequest.mic_present %}
        Player have a microphone<br>
    {% endif %}
    Published at {{ gamerequest.pub_date|date:"H:i, d.m.y" }} by {{ gamerequest.user }}<br>
    Likes: {{ likes }}

    {% if user.is_authenticated and gamerequest.user != user %}
        <form action="{% url 'newcoop_app:like_post' gamerequest.id %}" method="post">
            {% csrf_token %}

            <input type="submit" name="action" value="{% if voted %}Unlike{% else %}Like{% endif %}"/>
        </form>
    {% endif %}

    {% if gamerequest.comment|length > 0 %}
        {{ gamerequest.comment|linebreaks }}
    {% endif %}





{% endblock %}
